{{- if .Values.configMap.create }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "nodejs-helm-template.configMapName" . }}
  labels:
    {{- include "nodejs-helm-template.labels" . | nindent 4 }}
{{- if .Values.configMap.data }}
data:
  {{- range $key, $value := .Values.configMap.data }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
{{- else }}
data: {}
{{- end }}
{{- end }}
