apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "nodejs-helm-template.fullname" . }}
  labels:
    {{- include "nodejs-helm-template.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "nodejs-helm-template.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.otel.enabled }}
        {{ .Values.otel.injectorAnnotationKey }}: {{ .Values.otel.injectorAnnotationValue | quote }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "nodejs-helm-template.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "nodejs-helm-template.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          {{- $configMapName := .Values.envFrom.configMap.name | default (include "nodejs-helm-template.configMapName" .) }}
          {{- if or .Values.envFrom.configMap.enabled (gt (len .Values.envFrom.configMapRefs) 0) (gt (len .Values.envFrom.secretRefs) 0) }}
          envFrom:
          {{- if .Values.envFrom.configMap.enabled }}
          - configMapRef:
              name: {{ $configMapName }}
          {{- end }}
          {{- range .Values.envFrom.configMapRefs }}
          - configMapRef:
              name: {{ . }}
          {{- end }}
          {{- range .Values.envFrom.secretRefs }}
          - secretRef:
              name: {{ . }}
          {{- end }}
          {{- end }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.application.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /pod-health 
              port: {{ .Values.application.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /pod-health  
              port: {{ .Values.application.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
